<?xml version="1.0"?>
<is>
    <profiles>
        <participant profile_name="ros2">
            <rtps>
                <builtin>
                    <domainId>0</domainId>
                </builtin>
            </rtps>
        </participant>

        <subscriber profile_name="ros2_subscriber">
            <topic>
                <partition></partition>
                <name>rt/std_msgs_msg_Int32</name>
                <dataType>std_msgs::msg::dds_::Int32_</dataType>
            </topic>
			<historyMemoryPolicy>DYNAMIC</historyMemoryPolicy>
        </subscriber>

    </profiles>

    <bridge name="ngsiv2">
        <library>libisbridgengsiv2lib.so</library> <!-- Path to the NGSIv2 library -->

        <writer name="ngsiv2_publisher">
            <property>
                <name>host</name>
                <value>localhost</value>
            </property>
            <property>
                <name>port</name>
                <value>1026</value>
            </property>
        </writer>
    </bridge>

    <connector name="domain_change">
        <reader participant_profile="ros2" subscriber_profile="ros2_subscriber"/>
        <writer bridge_name="ngsiv2" writer_name="ngsiv2_publisher"/>
        <transformation file="/root/ws/install/int32_firos2/lib/int32_firos2/libint32_firos2.so" function="transform"/>
    </connector>
</is>