<?xml version="1.0"?>
<is>
	<bridge>
		<bridge_type>unidirectional</bridge_type>
		<subscriber>
			<participant>ros2_subscriber</participant>
			<domain>0</domain>
			<topic>rt/std_msgs_msg_Int32</topic>
			<type>std_msgs::msg::dds_::Int32_</type>
			<partition></partition>
		</subscriber>
		<publisher>
			<participant>ngsiv2_publisher</participant>
			<id>Helloworld</id>
			<host>localhost</host>
			<port>1026</port>
		</publisher>
		<!-- Windows -->
		<!-- <transformToNGSIv2>C:\dev\ros2\src\ros2\firos2\examples\helloworld_orion\build\Release\userlib.dll</transformToNGSIv2>
		<bridge_library>C:\dev\ros2\build\firos2\Release\isrtpsngsiv2bridgelib.dll</bridge_library> -->
		<!-- Linux -->
		<transformToNGSIv2>/root/ws/install/int32_firos2/lib/int32_firos2/libint32_firos2.so</transformToNGSIv2>
		<bridge_library>/root/ws/install/firos2/lib/libisrtpsngsiv2bridgelib.so</bridge_library>
	</bridge>
</is>
